<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
        <button class="dropdown-toggle btn btn-success btn-list list-canvas no-border" data-toggle="collapse"
            data-target="#guardianships"> {{'layout.guardianships.list' | translate}} <span class="caret"></span>
        </button>
    </div>
    <div id="guardianships" class="collapse list-group">
        <ul>
            <li *ngFor="let item of items" (click)="toggleItem(item)" [class.is-done]="item.isDone"
                [ngClass]="['list-group-item']">
                {{item.name}}</li>
        </ul>
    </div>
</div>




<!-- <button (click)="getSelectedItems()">ssssssssssss</button> -->