<div *ngIf="hasData;else noData">

   <h1 class="text-center school-headers">{{'student.details.header' | translate}}</h1>
   <hr />

   <!-- student details -->
   <div class="row" style="margin: 3px;">
      <!--left section-->
      <div class="col-sm-4 card">
         <div class="card-header text-center"> {{'student.details.header' | translate}}</div>

         <div class="list-group">
            <label class="list-group-item">{{'student.shared.name' | translate}} : <span
                  class="details">{{student.name}}</span></label>

            <label class="list-group-item">{{'shared.joinDate' |translate}} : <span
                  class="details">{{student.joinDate | date}}</span></label>

            <label class="list-group-item">{{'shared.age' |translate}} : <span
                  class="details">{{student.age}}</span></label>

            <label class="list-group-item">{{'shared.dob' |translate}} : <span
                  class="details">{{student.dob | date}}</span></label>

            <label class="list-group-item">{{'shared.gender' | translate}} : <span
                  class="details">{{student.gender}}</span></label>

            <label class="list-group-item">{{'shared.address' | translate}} : <span
                  class="details">{{student.address}}</span></label>

            <label class="list-group-item"> {{'shared.email' | translate}} : <span
                  class="details">{{student.email}}</span></label>

            <label class="list-group-item">{{'layout.status.list' | translate}} : <span
                  class="details">{{student.status}}</span></label>

            <label class="list-group-item">{{'layout.class.list' | translate}} : <span
                  class="details">{{student.level.name}}</span></label>

            <label class="list-group-item">{{'shared.desc' | translate}} : <span
                  class="details">{{student.notes}}</span></label>

            <!--  TO DO -->
            <div class="list-group-item"><button class="btn btn-primary btn-distance" routerLink="/update-student"
                  routerLinkActive="active" (click)="persistObject()">Update student </button>

               <button class="btn btn-primary btn-distance" routerLinkActive="active" (click)="setGrade()"> Set Grade
               </button>
            </div>

         </div>
      </div>

      <!--  center student image -->
      <div class="col-sm-4">
         <!-- call student avata until student has an image -->
         <img width="300" src="assets/images/worker.png" class="profile-img-card" />
      </div>

      <!--right section-->
      <div class="col-sm-4 card">
         <div class="card-header text-center">{{'guardian.shared.header' | translate}} </div>

         <div class="list-group">

            <label class="list-group-item">{{'guardian.shared.name' | translate}} : <span
                  class="details">{{student.guardian.name}}</span></label>

            <label class="list-group-item">{{'guardian.shared.ssn' | translate}} : <span
                  class="details">{{student.guardian.ssn}}</span></label>

            <label class="list-group-item">{{'shared.age' | translate}} : <span
                  class="details">{{student.guardian.age}}</span></label>

            <label class="list-group-item">{{'shared.gender' | translate}} : <span
                  class="details">{{student.guardian.gender}}</span></label>

            <label class="list-group-item">{{'guardian.shared.job' | translate}} : <span
                  class="details">{{student.guardian.job}}</span></label>

            <label class="list-group-item">{{'shared.email' | translate}} : <span
                  class="details">{{student.guardian.email}}</span></label>

            <label class="list-group-item">{{'shared.phone' | translate}} : <span
                  class="details">{{student.guardian.phone}}</span></label>

            <label class="list-group-item">{{'student.shared.paidFees' | translate}} : <span
                  class="details">{{student.paidFees}}</span></label>

            <label class="list-group-item">{{'student.shared.remainFees' | translate}} : <span
                  class="details">{{student.remainFees}}</span></label>

            <label class="list-group-item">{{'shared.desc' | translate}} : <span
                  class="details">{{student.guardian.notes}}</span></label>

            <label class="list-group-item"><button class="btn btn-danger" (click)="deletestudentById()">Delete Current
                  student</button>
            </label>


         </div>
      </div>
   </div>

   <hr>

   <!-- grade details -->
   <div class="container">
      <h1 class="text-center school-headers">{{'student.details.gradeHeader' | translate}}</h1>
      <div class="row horizontal-middle">
         <!-- year-->
         <div class="col-sm-3 ltr">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="number" class="form-control" [(ngModel)]="grade.year"
                  placeholder="{{'grade.shared.year'|translate}}">
            </div>
         </div>

         <!-- month-->
         <div class="col-sm-3 ltr">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               <input min="1" max="12" type="number" [(ngModel)]="grade.month" class="form-control"
                  placeholder="{{'grade.shared.month'|translate}}">
            </div>
         </div>

         <!-- Get Grade  -->
         <div class="col-sm-2 ">
            <input type="submit" (click)="getGradeByYearAndMonth()" class="form-control btn btn-primary"
               value="{{'student.details.getGrade'|translate}}">
         </div>
      </div>

      <!-- show grade here -->
      <!-- <ckeditor [(ngModel)]="grade.grade"></ckeditor> -->
      <div class="horizontal-middle">
         <div class="col-sm-6" [innerHtml]="grade.grade"></div>
      </div>


   </div>
   <br> <br> <br>
</div>

<!-- if no content -->
<ng-template #noData>
   <div class="container">
      <h2 class="alert alert-info text-center">{{'student.details.noData' | translate}}</h2>
   </div>
</ng-template>