<body class="body-background" dir="ltr">
   <div class="container">

      <!-- not useable two field just for congirmation save or not -->
      <span id="savedMsg" class="hidden">{{'shared.alerts.saved' | translate}}</span>
      <span id="unsavedMsg" class="hidden">{{'shared.alerts.unsaved' | translate}}</span>

      <!--  Form Header -->
      <div class="center-screen">
         <h1 class="school-headers">{{'student.shared.header'|translate}}</h1>
      </div>

      <!--Start Form-->
      <form [formGroup]="formData">
         <div class="row">

            <!-- Left section -->
            <div class="col-sm-6 left">
               <!-- name-->
               <div class="col-sm-10">
                  <!-- <h4 class="control-label">{{'student.shared.name'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                     <input type="text" formControlName="name" [(ngModel)]="student.name" class="form-control"
                        placeholder="{{'shared.name'|translate}}">
                  </div>
                  <div *ngIf="controls.name.touched && controls.name.errors?.required" class="alert alert-danger">
                     {{'shared.alerts.name'|translate}}
                  </div>
               </div>

               <!-- address -->
               <div class="col-sm-10">
                  <!-- <h4 class="control-label">{{'shared.address'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                     <input type="text" formControlName="address" [(ngModel)]="student.address" class="form-control"
                        placeholder="{{'shared.address'|translate}}">
                  </div>
                  <div *ngIf="controls.address.touched && controls.address.errors?.required" class="alert alert-danger">
                     {{'shared.alerts.address'|translate}}</div>
               </div>

               <!-- email -->
               <div class="col-sm-10">
                  <!-- <h4 class="control-label">{{'shared.email'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                     <input type="text" [(ngModel)]="student.email" formControlName="email" class="form-control"
                        placeholder="{{'shared.email'|translate}}">
                  </div>
                  <!-- <div *ngIf="controls.email.errors && (controls.email.touched || controls.email.dirty)"
                            class="alert alert-danger">
                            {{'shared.emailMsg'|translate}}
                        </div> -->
               </div>

               <!-- age -->
               <div class="col-sm-7">
                  <!-- <h4 class="control-label">{{'shared.age'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                     <input type="number" formControlName="age" ngModel [(ngModel)]="student.age" class="form-control"
                        placeholder="{{'shared.age'|translate}}">
                  </div>
                  <div *ngIf="controls.age.touched && controls.age.errors?.required" class="alert alert-danger">
                     {{'shared.alerts.age'|translate}}
                  </div>
               </div>

               <!-- date of birth -->
               <div class="col-sm-7">
                  <!-- <h4 class="control-label ">{{'shared.dob'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                     <input type="text" formControlName="dob" [(ngModel)]="student.dob" onfocus="(this.type='date')"
                        onblur="(this.type='text')" placeholder="{{'shared.dob'|translate}}" class="form-control">
                  </div>
                  <div *ngIf="controls.dob.touched && controls.dob.errors?.required" class="alert alert-danger">
                     {{'shared.alerts.dob'|translate}}</div>
               </div>

               <!--joinDate-->
               <div class="col-sm-7" style="text-align: start;">
                  <!-- <h4 class="control-label">{{'shared.joinDate'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                     <input type="text" formControlName="joinDate" [(ngModel)]="student.joinDate"
                        onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"
                        placeholder="{{'shared.joinDate'|translate}}">
                  </div>
                  <div *ngIf="controls.joinDate.touched && controls.joinDate.errors?.required"
                     class="alert alert-danger">
                     {{'shared.alerts.joinDate'|translate}}</div>
               </div>

               <!-- gender -->
               <div class="col-sm-8 ui-margin" (change)="handleGenderChange($event)">
                  <!-- <h4>{{'shared.gender' | translate}}</h4> -->
                  <div class=" btn-group">
                     <label class="btn btn-success no-border" for="male_id">
                        <input id="male_id" type="radio" value="Male" formControlName="gender">
                        <label for="male_id">{{'shared.male' | translate}} </label>
                     </label>
                     <label class="btn btn-success no-border" for="female_id">
                        <input id="female_id" type="radio" value="Female" formControlName="gender">
                        <label for="female_id">{{'shared.female' | translate}} </label>
                     </label>
                  </div>
                  <div *ngIf="controls.gender.invalid && controls.gender.errors?.required" class="alert alert-danger">
                     {{'shared.alerts.gender' | translate}}
                  </div>
               </div>

               <!-- classes -->
               <div class="col-sm-10">
                  <classes [selected]="levels"></classes>
               </div>

               <!-- status -->
               <div class="col-sm-10">
                  <student-status [selected]="student.status"></student-status>
               </div>

               <!-- paidFees -->
               <div class="col-sm-7">
                  <!-- <h4 class="control-label">{{'student.shared.paidFees'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                     <input type="number" formControlName="paidFees" [(ngModel)]="student.paidFees" class="form-control"
                        placeholder="{{'student.shared.paidFees'|translate}}">
                  </div>
                  <div *ngIf="controls.paidFees.touched && controls.paidFees.errors?.required"
                     class="alert alert-danger">
                     {{'student.shared.paidFeesMsg'|translate}}
                  </div>
               </div>

               <!-- remainFees -->
               <div class="col-sm-7">
                  <!-- <h4 class="control-label">{{'student.shared.remainFees'|translate}}</h4> -->
                  <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                     <input type="number" formControlName="remainFees" [(ngModel)]="student.remainFees"
                        class="form-control" placeholder="{{'student.shared.remainFees'|translate}}">
                  </div>
                  <div *ngIf="controls.remainFees.touched && controls.remainFees.errors?.required"
                     class="alert alert-danger">
                     {{'student.shared.remainFeesMsg' | translate}}
                  </div>
               </div>

               <!--  notes  -->
               <div class="col-sm-10">
                  <h4 for="desc_id">{{'shared.desc' | translate}}</h4>
                  <textarea (input)="student.notes = $event.target.value;" [(ngModel)]="student.notes" id="desc_id"
                     rows="7" class="form-control">{{student.notes}}</textarea>
               </div>

            </div>

            <!-- Right section guardian + save button-->
            <div class="col-sm-6 right">
               <div>
                  <h4 class="school-header-branches center-screen">{{'guardian.shared.header'|translate}}</h4>
                  <guardian [updatedObject]="student.guardian" (keydown)="handleValidation($event)"
                     (change)="handleValidation($event)">
                  </guardian>
               </div>

               <!-- Save Details -->
               <div class="col-sm-6 btn-distance">
                  <input [disabled]="formData.invalid || !isGuardianValid || inPrograss" type="submit" (click)="save()"
                     class="form-control btn btn-success" value="{{'shared.buttons.save'|translate}}">
               </div>

               <!-- reset -->
               <div class="col-sm-6 btn-distance">
                  <input type="reset" class="form-control btn btn-success" value="{{'shared.buttons.reset'|translate}}">
               </div>

            </div>
         </div>
      </form>
   </div>
</body>


<br><br><br>