<div class="container">

    <div class="center-screen">
        <h1 class="school-headers">{{'user.login.header' | translate}}</h1>
        <img id="profile-img" src="assets/images/user-avatar.png" class="profile-img-card" width="300px"/>
    </div>

    <form [formGroup]="dataForm" (submit)="login()">
        <div class="row">
            <div class="form-group center-screen">

                <!-- username -->
                <div class="col-sm-5 ltr">
                    <!-- <label for="username">{{'scratch.login.username' | translate}}</label> -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="username" type="text" [(ngModel)]="user.username" formControlName="username"
                            class="form-control" placeholder="{{'user.shared.username' | translate}}">
                    </div>
                    <div *ngIf="controls.username.touched && controls.username.errors?.required"
                        class="alert alert-danger">
                        {{'user.login.usernameMsg' | translate}}
                    </div>
                </div>

                <!-- password -->
                <div class="col-sm-5 ltr">
                    <!-- <label for="password">{{'scratch.login.password' | translate}}</label> -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" [(ngModel)]="user.password" formControlName="password"
                            class="form-control" placeholder="{{'user.shared.password' | translate}}">
                    </div>
                    <div *ngIf="controls.password.touched && controls.password.errors?.required"
                        class="alert alert-danger">
                        {{'user.login.passwordMsg' | translate}}
                    </div>
                </div>

                <div class="col-sm-3 btn-distance">
                    <input type="submit" [disabled]="dataForm.invalid || inPrograss" class="form-control btn btn-primary"
                        value="{{'user.login.loginBtn' | translate}}">
                </div>

            </div>
        </div>
    </form>
</div>