<!--
   note that:- 
     A button element with no type attribute specified represents the
     same thing as a button element with its type attribute set to "submit".
     so that if you wan to embed another button form must define its type button
-->
<div class="dropdown">
   <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
      <button type="button" data-toggle="tooltip" title="{{'layout.class.hint' | translate}}"
         class="dropdown-toggle btn btn-success btn-list list-canvas no-border" data-toggle="collapse"
         data-target="#classes"> {{'layout.class.list' | translate}} <span class="caret"></span>
         <span class="gap badge">{{count}}</span>
      </button>
   </div>
   <div id="classes" [ngClass]="['collapse','list-group']">
      <ul class="list-inline">
         <li *ngFor="let item of items" (click)="toggleItem($event,item)" [class.is-done]="item.isDone"
            [ngClass]="['list-group-item']">
            {{item.name}}</li>
      </ul>
   </div>
</div>

<!-- [ngClass]="['dropdown-toggle','btn','btn-success','btn-list','list-canvas','no-border']" -->