<body class="body-background">
   <!--Start Container-->
   <div class="container">

      <!-- not useable two field just for congirmation save or not -->
      <span id="savedMsg" class="hidden">{{'class.add.savedMsg' | translate}}</span>
      <span id="unsavedMsg" class="hidden">{{'class.add.unsavedMsg' | translate}}</span>

      <div class="center-screen">
         <div class="school-headers">{{'class.add.hint'|translate}}</div>
         <img id="profile-img" src="assets/images/classroom.jpg" class="profile-img-card ui-margin img-rounded img-responsive" />
      </div>

      <form [formGroup]="formData" (submit)="save()">
         <div class="form-group center-screen">

            <!-- name -->
            <div class="col-sm-6 col-xs-12 ltr">
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                  <input type="text" formControlName="name" [(ngModel)]="class.name" class="form-control"
                     placeholder="{{'class.add.name'|translate}}">
               </div>
               <div *ngIf="controls.name.touched && controls.name.errors?.required" class="alert alert-danger margin">
                  {{'class.add.nameMsg'|translate}}
               </div>
            </div>

            <!-- floor -->
            <div class="col-sm-4 col-xs-12 ltr">
               <!-- <h4>{{'class.add.floor'|translate}}</h4> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                  <input min="0" type="number" formControlName="floor" [(ngModel)]="class.floor" class="form-control"
                     placeholder="{{'class.add.floor'|translate}}">
               </div>
               <div *ngIf="controls.floor.touched && controls.floor.errors?.required" class="alert alert-danger margin">
                  {{'class.add.floorMsg'|translate}}
               </div>
            </div>

            <!-- max size -->
            <div class="col-sm-4 col-xs-12 ltr">
               <!-- <h4>{{'class.add.maxSize'|translate}}</h4> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                  <input min="0" type="number" formControlName="maxSize" [(ngModel)]="class.maxSize"
                     class="form-control" placeholder="{{'class.add.maxSize'|translate}}">
               </div>
               <div *ngIf="controls.maxSize.touched && controls.maxSize.errors?.required"
                  class="alert alert-danger margin">
                  {{'class.add.maxSizeMsg'|translate}}</div>
            </div>

            <!-- current size -->
            <div class="col-sm-4 col-xs-12 ltr">
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                  <input min="0" type="number" formControlName="currentSize" [(ngModel)]="class.currentSize"
                     class="form-control" placeholder="{{'class.add.currentSize'|translate}}">
               </div>
               <div *ngIf="controls.currentSize.touched && controls.currentSize.errors?.required"
                  class="alert alert-danger margin">{{'class.add.currentSizeMsg'|translate}}
               </div>
            </div>

            <div class="col-sm-4 col-xs-8 btn-distance">
               <input type="submit" [disabled]="formData.invalid || inPrograss" class="btn btn-primary"
                  value="{{'shared.save' | translate}}">
            </div>

         </div>
      </form>
   </div>
</body>