body {
  /* Whatever the height of your navbar is; the default is 50px */
  padding-top: 60px;
}

#site-title-font {
  font-size: 18px !important;
  font-weight: bold;
  padding: 10px;
}

ul li a {
  font-size: 16px;
}

.dropdown-menu {
  text-align: center;
}

// ul {
//   float: right;
// }
// li {
//   float: right;
// }
