<div *ngIf="hasData;else noData">
   <div class="container">
      <h1 class="text-center school-headers">{{'class.details.header' | translate}}</h1>
      <hr />

      <div class="horizontal-middle">
         <div class="card" style="width:500px">
            <img class="card-img-top" src="assets/images/classroom.jpg" alt="Card image" style="width:85%">
            <div class="card-body">
               <!-- <h1 class="card-title text-danger"> {{worker.name}} </h1> -->
               <!--start personal Information-->
               <div class="list-group list-group-flush">

                  <label class="list-group-item">{{'shared.name'|translate}} : <span
                        class="details">{{class.name}}</span></label>

                  <label class="list-group-item">{{'class.shared.floor'|translate}}: <span
                        class="details">{{class.floor}}</span></label>

                  <label class="list-group-item">{{'class.shared.maxSize' | translate}}: <span
                        class="details">{{class.maxSize}}</span></label>

                  <label class="list-group-item">{{'class.shared.currentSize'|translate}}: <span
                        class="details">{{class.currentSize}}</span></label>

                  <label class="list-group-item">{{'shared.desc'|translate}}: <div class="details">
                        {{class.description}}
                     </div></label>

                  <div class="list-group-item">
                     <div class="btn-group">
                        <button type="button" (click)="update()"
                           class="btn btn-primary">{{'shared.buttons.update' | translate}}</button>
                        <button type="button" (click)="deleteById()"
                           class="btn btn-danger">{{'shared.buttons.delete' | translate}}</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- if no content -->
<ng-template #noData>
   <div class="container">
      <h2 class="alert alert-info text-center">{{'shared.alerts.noData' | translate}}</h2>
   </div>
</ng-template>