$selectText: none;

//  placeholder section
%center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  -webkit-touch-callout: $selectText;
  -webkit-user-select: $selectText;
  -khtml-user-select: $selectText;
  -moz-user-select: $selectText;
  -ms-user-select: $selectText;
  user-select: $selectText;
}

.body-background {
  background-color: #f8f8f8;
}

.center-screen {
  flex-direction: column;
  margin-bottom: 7px;
  @extend %center;
}

.horizontal-middle {
  @extend %center;
}

%headers {
  color: indianred;
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: bold;
}
.school-headers {
  @extend %headers;
  font-size: 2em;
}
.school-header-branches {
  @extend %headers;
  font-size: 1.5em;
}

// fields that is html but hidden to catch lang value and passed to controller
.hidden {
  display: none;
}

.btn-list {
  width: 40%;
}

.btn-distance {
  margin-top: 5px;
}

// -----------------  table styles ------------------
.center-table-header th,
td {
  text-align: center;
}

//  used when select item(s) from list give it background
$selected: rgb(16, 167, 96);
.is-done {
  background-color: $selected;
}

// make two list inline
.list-canvas {
  width: 300px;
}
