<div class="container">

   <!-- not useable two field just for congirmation save or not -->
   <span id="savedMsg" class="hidden">{{'shared.alerts.saved' | translate}}</span>
   <span id="unsavedMsg" class="hidden">{{'shared.alerts.unsaved' | translate}}</span>

   <div class="center-screen">
      <div class="school-headers">{{'user.register.header' | translate}}</div>
      <img id="profile-img" src="assets/images/user-avatar.png" class="profile-img-card" width="300px" />
   </div>

   <form [formGroup]="formData" (submit)="saveOrUpdate()">
      <div class="row">
         <div class="form-group center-screen">

            <!-- username -->
            <div class="col-sm-4 ltr">
               <!-- <label for="username">{{'scratch.login.username' | translate}}</label> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="username" type="text" [(ngModel)]="user.username" formControlName="username"
                     class="form-control" placeholder="{{'user.shared.username' | translate}}">
               </div>
               <div
                  *ngIf="controls.username.touched && (controls.username.errors?.required || controls.username.invalid)"
                  class="alert alert-danger">
                  {{'user.shared.usernameMsg' | translate}}
               </div>
            </div>

            <!-- showname -->
            <div class="col-sm-4 ltr">
               <!-- <label for="username">{{'scratch.login.username' | translate}}</label> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="username" type="text" [(ngModel)]="user.showname" formControlName="showname"
                     class="form-control" placeholder="{{'user.shared.showname' | translate}}">
               </div>
               <div *ngIf="controls.showname.touched && controls.showname.errors?.required" class="alert alert-danger">
                  {{'user.shared.shownameMsg' | translate}}
               </div>
            </div>

            <!-- password -->
            <div class="col-sm-4 ltr">
               <!-- <label for="password">{{'scratch.login.password' | translate}}</label> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" id="password" [(ngModel)]="user.password" formControlName="password"
                     class="form-control" placeholder="{{'user.shared.password' | translate}}">
                  <span class="input-group-addon" (click)="togglePassword()">
                     <i [ngClass]="passwordStatus ? 'glyphicon-eye-open':'glyphicon-eye-close'"
                        class="glyphicon"></i></span>
               </div>
               <div
                  *ngIf="controls.password.touched && (controls.password.errors?.required || controls.password.invalid)"
                  class="alert alert-danger">
                  {{'user.shared.passwordMsg' | translate}}
               </div>
            </div>

            <!-- confirm password -->
            <div class="col-sm-4 ltr">
               <!-- <label for="password">{{'scratch.register.confirmPassword' | translate}}</label> -->
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="password" [(ngModel)]="user.confirmPassword" formControlName="confirmPassword"
                     class="form-control" placeholder="{{'user.shared.confirmPassword' | translate}}">
               </div>
               <div *ngIf="user.password != user.confirmPassword" class="alert alert-danger">
                  {{'user.shared.confirmPasswordMsg' | translate}}
               </div>
            </div>

            <!-- phone  -->
            <div class="col-sm-4 ltr">
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                  <input type="text" [(ngModel)]="user.phone" formControlName="phone" class="form-control"
                     placeholder="{{'shared.phone' | translate}}">
               </div>
               <div *ngIf="controls.phone.touched && (controls.phone.errors?.required || controls.phone.invalid)"
                  class="alert alert-danger">
                  {{'shared.alerts.phone' | translate}}
               </div>
            </div>

            <!--joinDate-->
            <div class="col-sm-4 ltr">
               <div class=" input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  <input type="text" formControlName="joinDate" [(ngModel)]="user.joinDate" onfocus="(this.type='date')"
                     onblur="(this.type='text')" class="form-control" placeholder="{{'shared.joinDate'|translate}}">
               </div>
               <div *ngIf="controls.joinDate.touched && controls.joinDate.errors?.required" class="alert alert-danger">
                  {{'shared.alerts.joinDate'|translate}}</div>
            </div>

            <!-- address -->
            <div class="col-sm-4 ltr">
               <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input id="address" type="text" [(ngModel)]="user.address" formControlName="address"
                     class="form-control" placeholder="{{'shared.address' | translate}}">
               </div>
               <div *ngIf="controls.address.touched && controls.address.errors?.required" class="alert alert-danger">
                  {{'shared.alerts.address'|translate}}
               </div>
            </div>

            <!-- gender -->
            <div class="col-sm-12 ltr" (change)="setGender()">
               <div class="btn-group">
                  <div class="input-group">
                  <span class="input-group-addon no-border">{{'shared.gender' | translate}}<i
                           class="glyphicon"></i></span>
                  <label class="btn btn-info no-border">
                     <input type="radio" value="Male" formControlName="gender">
                     <span>{{'shared.male' | translate}} </span>
                  </label>
                  <label class="btn btn-info no-border">
                     <input type="radio" value="Female" formControlName="gender">
                     <span>{{'shared.female' | translate}} </span>
                  </label>
                  </div>
               </div>
               <div *ngIf="controls.gender.invalid && controls.gender.errors?.required" class="alert alert-danger">
                  {{'shared.alerts.gender' | translate}}
               </div>
            </div>

            <!-- role -->
            <div class="col-sm-12 ltr" (change)="setRole()">
               <div class="btn-group">
                  <div class="input-group">
                     <span class="input-group-addon no-border">{{'user.shared.account' | translate}}<i
                           class="glyphicon"></i></span>
                     <label class="btn btn-info no-border">
                        <input type="radio" value="USER" formControlName="role">
                        <span>{{'user.shared.userRole' | translate}} </span>
                     </label>
                     <label class="btn btn-info no-border">
                        <input type="radio" value="ADMIN" formControlName="role">
                        <span>{{'user.shared.adminRole' | translate}} </span>
                     </label>
                  </div>
               </div>
               <div *ngIf="controls.role.invalid && controls.role.errors?.required" class="alert alert-danger">
                  {{'user.shared.roleMsg' | translate}}
               </div>
            </div>

            <!-- save -->
            <div class="col-sm-4">
               <div class="btn-group">
                  <!-- save -->
                  <button type="submit" [disabled]="formData.invalid"
                     class="btn btn-primary no-border">{{'shared.buttons.save' | translate}}</button>
                  <!-- reset -->
                  <button type="reset" class="btn btn-warning no-border">{{'shared.buttons.reset' | translate}}</button>
               </div>
            </div>

         </div>
      </div>
   </form>
</div>