<!-- Search Section-->
<form [formGroup]="searchData" (submit)="searchByJoinDate()">
   <div class="row center-screen">
      <div class="col-sm-10 form-group">

         <div class="col-sm-4 ltr">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="text" [(ngModel)]="joinDate.start" formControlName="start"
                  placeholder=" {{'teacher.search.from' | translate}}" class="form-control" onfocus="(this.type='date')"
                  onblur="(this.type='text')">
            </div>
            <div *ngIf="controls.start.touched && controls.start.errors?.required" class="alert alert-danger">
               {{'teacher.search.fromMsg' | translate}}
            </div>
         </div>

         <div class="col-sm-4 ltr">
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="text" [(ngModel)]="joinDate.end" formControlName="end"
                  placeholder=" {{'teacher.search.to' | translate}}" class="form-control" onfocus="(this.type='date')"
                  onblur="(this.type='text')">
            </div>
            <div *ngIf="controls.end.touched && controls.end.errors?.required" class="alert alert-danger">
               {{'teacher.search.toMsg' | translate}}
            </div>
         </div>

         <div class="col-sm-3">
            <button type="submit" [disabled]="searchData.invalid || inPrograss" class="form-control btn btn-primary">
               {{'shared.buttons.search' | translate}}
            </button>
         </div>
      </div>
   </div>
</form>